{% extends "base.html" %}
{% block body %}
{% block about %}active{% endblock %}
<div class="main main-raised">
		<section class="py-5" id="about">
				<div class="container">
						<h2 class="title inTheCenter">Project</h2>
						<p class='description'>
								Over the last few years, low-cost commodity sensors have hit the markets allowing — for the first time — the ability to measure hyperlocal air quality conditions, both inside and outside of our homes. At the University of Utah, we are building infrastructure that utilizes these new sensors to create accurate measurements of air quality microclimates. We have three synergistic projects:
								<br /><br />
								<strong><span class="projectDescription">Outdoor Air Quality</span> leverages existing government and community-based air quality efforts to build a dense network of sensors across Salt Lake City; <br /><br />
								<span class="projectDescription">AirU</span> engages kids in Salt Lake schools through learning about air quality with a Lego Maker kit and hosting of commodity sensors in classrooms;
								<br /><br />
								<span class="projectDescription">Indoor Air Quality</span> uses a network of sensors in the homes of asthmatic families to better understand indoor air quality.</strong>
								<br /><br />

								Each of these projects utilizes our research in sensor design, air quality science, computational modeling, and communication of data; furthermore, they rely on citizens to engage, promote, and facilitate science.

								We are currently looking for Salt Lake City residents to be part of building our outdoor network by hosting sensors at their homes. Want to get involved? See our sign-up below.

								<br /><br />

								This work is generously funded by grants from the National Science Foundation and the National Institutes of Health.
						</p>
		</section>

	<section class="py-5" id="sensorMap">
			<div class="container">
					<h2 class="title inTheCenter">Visualization</h2>
					<div>
						<p class='description'>
							The following visualization consists of two parts a map visualization and a timeline visualization just below the map. It is best viewed using Google Chrome, Safari, or Firefox.
						</p>
						<p class='description'>
							On the map there are colored dots. These colored dots represent sensors. A sensor can be a sensor provided by us (airu) or by Purple Air, Mesowest, or DAQ. The legend in the right bottom corner tells you which dot (sensor) is provided by whom. Moving the mouse cursor over an element in that legend makes the sensors belonging to that group more visible and hides the others. Moving the mouse cursor over a dot opens a popup with the sensor's ID.
						</p>
						<p class='description'>
							The dots itself are colored using the EPA classification (left bottom legend). The dot's color updates every 1 minute, showing the latest measured value by that sensor.
						</p>
						<p class='description'>
							Clicking on a dot (sensor) makes that sensor's data appear in the timeline visualization. Also the dot's border changes from white to grey to show that the sensor has been selected. Clicking on a selected sensor (sensor with grey borders) removes the data from the timeline and the sensor border gets its white color back. You can click on multiple sensors to add them to the timeline visualization. The lines in the timeline all appear in grey. To know which line in the timeline belongs to which sensor, move the mouse cursor over the line and a text box with the sensor ID will appear.
						</p>
						<p class='description'>
							The default time range in the timeline visualization is the past 24 hours. This can be changed by selecting the appropriate radio button below the timeline. The options are the past 24 hours (default), the past 3 days, and the past week. The data used for the past 24 hours is the raw data as captured by the sensor which is the converted to the Federal Reference Method (see next paragraph). Where as for the past 3 day's and the past week's data we aggregate the raw data over one hour and then converted to the Federal Reference Method (see next paragraph).
							The button to the right of these radio buttons can be used to remove all the data in the timeline and start fresh.
						</p>
						<p class='description'>
							One caveat to be noted is that to be able to compare airU data and Purple Air data in the same graph we applied calibration using the data from the Winter 2017 for both airU and Purple Air sensors. The Purple Air sensor model 1003 is calibrated within the range of 0 to 90 µg/m<sup>3</sup>. The Purple Air sensor model 5003 is calibrated within the range of 0 to 60 µg/m<sup>3</sup>. And finally the airU sensors are calibrated within the range of 0 to 200 µg/m<sup>3</sup>.
						</p>
					</div>
			</div>
	</section>

	<section class="py-5" id="request-sensor">
			<div class="container box">
					<h2 class="title inTheCenter boxed">Sensor Sign Up</h1>
					<p class='description-centered boxed'>Interested in hosting a sensor (schools see below)? Sign up <a href="{{ url_for('request_sensor') }}">here.</a><p>
					<p class='description-centered boxed'>Frequently asked questions are available <a href="{{ url_for('sensor_FAQ') }}">here</a>.</p>
					</br>
					<p class='description-centered boxed spaced'>Are you a <span class='schoolEmphasis'>school</span      > and interested in hosting a sensor?</br>There is more information and the people to contact <a href="https://airu.coe.utah.edu">here.</a><p>
			</div>
	</section>


	<section class="py-5" id="mailinglist">
			<div class="container">
					<h2 class="title inTheCenter">Mailing List</h2>
					<p class='description-centered'> Interested in learning more about what we are doing? Sign up for our <a href="{{ url_for('mailinglist') }}">mailing list</a>. Your information will only be used for AQ & U. </p>

			</div>
	</section>


	<section class="py-5" id="contact">
			<div class="container">
					<h2 class="title inTheCenter">Contact Us</h2>
					<p class='description-centered'>If you have a question, have a comment you can contact us under:</p>
					<p class='description-centered'>Our email address is: <a href="mailto:contact-aqandu@sci.utah.edu">contact-aqandu@sci.utah.edu</a></p>
			</div>
	</section>


	<section class="py-5" id="affiliations">
			<div class="container">
					<h2 class="title inTheCenter">Partners</h2>
					<div class="affiliations">
							<a href="http://www.utah.edu" target="_blank"><img class="logo" src="./static/img/ulogo2.png"></a>
							<a href="https://www.ece.utah.edu" target="_blank"><img class="logo2" src="./static/img/ece_logo-01.png"></a>
							<a href="https://www.che.utah.edu" target="_blank"><img class="logo3" src="./static/img/ChemE_logo.png"></a>
							<a href="http://www.sci.utah.edu" target="_blank"><img class="logo" src="./static/img/scilogo.png"></a>
							<a href="http://vdl.sci.utah.edu" target="_blank"><img class="logo" src="./static/img/vdl.png"></a>
							<a href="https://sites.google.com/site/pegaillardon/" target="_blank"><img class="logo" src="./static/img/lnis-logo.png"></a>
					</div>
			</div>
	</section>
{% endblock %}
